<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscreva-se na Newsletter</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="newsletter">
        <h1>Inscreva-se na Nossa Newsletter</h1>
        <form method="POST" action="{{ url_for('subscribe') }}">
            <input class="email" type="email" name="email" placeholder="Seu email principal" required>
            <button class="btemail" type="submit">Inscrever-se</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="newsletter">
        <a class="vlt" href="/">Voltar</a>
    </div>
</body>

</html>