<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
</head>
<body>
    <header>
        <div class="logaqui">
            <img class="logoaqui" src="static/logoaqui.png" alt="">
        </div>
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name"></span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="/">HOME</a></li>
                        <li>
                            <a href="/sobre">SOBRE NOS</a>
                        </li>
                        <li>
                            <a href="/contato">CONTATO</a>
                        </li>
                        <li><a href="/politica">POLITICA DE PRIVACIDADE</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="pub">
        <h1>Contato</h1>
    </div>
    <footer>
        <p>© 2024 Sua Marca Aqui. Todos os direitos reservados.</p>
    </footer>
    <script src="static/menu.js"></script>
</body>
</html>