<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Postagens</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<style>
    body{
        background-color:#e4f1ff;
    }
</style>
<body>
    <main>
        <div class="logo">
            <img class="log" src="static/compartilharpostagem.png" alt="">
        </div>
        <div class="title">
            <h1>Gerenciador de Postagens</h1>
        </div>
        <fieldset class="login">
            <div class="container">
                <form class="form" id="form">
                    <label for="email">Email:</label>
                    <input class="input" type="email" name="email" id="email">
                    <br>
                    <br>
                    <label for="senha">Senha:</label>
                    <input class="input" type="password" name="password" id="password">
                    <br>
                    <br>
                    <div class="bt">
                        <button class="sub" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </fieldset>
    </main>
    <!-- Bibliotecas do Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDydjaTK29l6XH-cuQDOks-CPLoFVhEheM",
            authDomain: "gerenciador-de-entregas-c1190.firebaseapp.com",
            databaseURL: "https://gerenciador-de-entregas-c1190-default-rtdb.firebaseio.com",
            projectId: "gerenciador-de-entregas-c1190",
            storageBucket: "gerenciador-de-entregas-c1190.appspot.com",
            messagingSenderId: "662477519271",
            appId: "1:662477519271:web:9e4149edaaf565e82ade82",
            measurementId: "G-PKMJVNSMF5"

        };

        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="static/login.js"></script>
</body>

</html>