<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
</head>
<body>
    <header>
        <div class="logaqui">
            <img class="logoaqui" src="static/logoaqui.png" alt="">
        </div>
        <nav>
            <div class="navbar">
                <i class='bx bx-menu'></i>
                <div class="nav-links">
                    <div class="sidebar-logo">
                        <span class="logo-name"></span>
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="links">
                        <li><a href="/">HOME</a></li>
                        <li>
                            <a href="/sobre">SOBRE NOS</a>
                        </li>
                        <li>
                            <a href="/contato">CONTATO</a>
                        </li>
                        <li><a href="/politica">POLITICA DE PRIVACIDADE</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="pub">
        <h1>Sobre Nos</h1>
    </div>
    <div class="sobre">
        <p>Sobre Nós

            Bem-vindo à SuaMarcaAqui!
            
            Na SuaMarcaAqui, acreditamos que cada cliente é único e merece um atendimento personalizado. Nossa missão é proporcionar produtos e serviços de alta qualidade, sempre com o compromisso de superar as expectativas.
            
            Com anos de experiência no mercado, a SuaMarcaAqui foi fundada com o propósito de inovar e trazer soluções práticas e eficazes para o seu dia a dia. Nos dedicamos a entender as necessidades dos nossos clientes e transformar essas necessidades em experiências excepcionais.
            
            Nossa equipe é composta por profissionais apaixonados e especializados, que trabalham incessantemente para oferecer o melhor para você. Estamos sempre em busca de novas tecnologias e tendências para garantir que você tenha acesso ao que há de mais moderno e eficiente.
            
            Na SuaMarcaAqui, a sua satisfação é a nossa maior recompensa. Agradecemos por confiar em nosso trabalho e faremos o possível para continuar merecendo sua confiança.
            
            Nossa Visão
            Ser referência no mercado, reconhecida pela qualidade de nossos produtos e pelo excelente atendimento ao cliente.
            
            Nossa Missão
            Entregar produtos e serviços que facilitem o dia a dia dos nossos clientes, com qualidade e inovação, sempre com um atendimento acolhedor e personalizado.
            
            Nossos Valores
            
            Excelência: Compromisso com a qualidade em tudo o que fazemos.
            Inovação: Busca constante por novas soluções e tecnologias.
            Transparência: Honestidade e clareza em todas as nossas relações.
            Foco no Cliente: Entender e atender às necessidades dos nossos clientes com dedicação e cuidado.
            Obrigado por fazer parte da nossa história!</p>

    </div>
    <footer>
        <p>© 2024 Sua Marca Aqui. Todos os direitos reservados.</p>
    </footer>
    <script src="static/menu.js"></script>
</body>
</html>